.container {
    padding: 12px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.productsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
}



.seeAllContainer {
    text-align: center;
    margin-top: 32px;
}

@media (max-width: 768px) {
    .productsGrid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}